<%= form_with url: '/flights', method: :get, id: 'search_form' do |f| %>
  <h1 class='title'>Simple flight booker</h1>
  <div>
    <%= f.collection_select :departure_id, Airport.order('city'), :id, :city, prompt: 'From' %>
    <%= f.collection_select :arrival_id, Airport.order('city'), :id, :city, prompt: 'To'%>
    <%= f.collection_select :no_passengers, [1, 2, 3, 4], :to_s, :to_s, prompt: 'no. passengers' %>
    <%= f.select :year, Date.tomorrow.year..30.days.from_now.year, prompt: 'Year' %>
    <%= f.select :month, Date.tomorrow.month..30.days.from_now.month, prompt: 'Month' %>
    <%= f.select :day, 1..31, prompt: 'Day' %>
  </div>
  <div><%= f.submit 'Search', class: 'btn mt-4'%></div>
<% end %>
